{
  "presets": [
    "react",
    ["env"],
    "stage-2"
  ],
  "plugins": [
    "babel-plugin-transform-es2015-modules-commonjs",
  ],
}




// {
//   "presets": [
//     "react",
//     ["env"],
//     "stage-2"
//   ],
//   "plugins": [
//     [
//       "css-modules-transform", {
//         "preprocessCss": "./loaders/sassLoader.js",
//         "generateScopedName": "[name]_[local]_[hash:base64:5]",
//         "extensions": [".scss"]
//       }
//     ]
//   ],
// }